@charset "UTF-8";
@import "normalize";
@import "jquery.fancybox";
@import "tipr";
@import "vendor/foundation/scss/foundation/variables";
@import "vendor/foundation/scss/foundation/components/global";
@import "vendor/foundation/scss/foundation/components/grid";
@import "mixins";

$white: #fff;
$logoBlue: #7cbba1;
$logoGreen: #bdd852;
$yellow: #cdba4a;
$blue: #4abecc;
$darkGrey: #222;
$darkBlue: #31353a;


html, body { height: 100%; }

.row { max-width: 75em; }

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  z-index: 0;
}

.main {
  position: relative;
  z-index: 1;
  min-height: 100%;
  background: $white;
}

.index .main,
.english_index .main {
  color: $white;
  background: url(/images/background.jpg) 50% 0 no-repeat $darkGrey;
}

h2 {
  font-weight: 200;
  font-size: 36px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 1.3;
}

.kontakt-os .cinis-header,
.english_contact-us .cinis-header {
  background: url(/images/header-background.jpg) 50% 50% no-repeat $darkGrey;
  background-size: cover;
  color: $white;
  margin-bottom: 60px;
}

.mail, .cvr {
  font-size: 14px;
  .label {
    font-size: 10px;
  }
}

.cinis-header {
  @extend .clearfix;
  padding: 30px 0;
  position: relative;
}

.cinis-logo {
  a {
    background: url(/images/cinis-logo.png) 50% 50% no-repeat;
    display: block;
    width: 173px;
    height: 65px;
    @include hide-text;
  }
}

.cinis-navigation {
  text-align: right;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    font-weight: 700;
  }
  a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 300;
    &.active {
      font-weight: 700;
    }
  }
}

.introducing-cinis {
  h1 {
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }
  .lead {
    margin: 0 auto;
    font-weight: 200;
    font-size: 1.3em;
    text-align: justify;
  }
}

.index .introducing-cinis h1 {
  margin: 0 0 40px 0;
}
.index .actions {
  margin-top: 60px;
  margin-bottom: 60px;
}

.actions {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  .btn {
    margin: 0 10px;
  }
}

.btn {
  display: inline-block;
  padding: 18px 38px;
  background: #fff;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  border-radius: 2px;
  &.yellow { background: $yellow; color: #fff; }
  &.green  { background: $logoBlue; color: #fff; }
  &:hover  { background: #000; color: #fff; }
}

.tech {
  padding: 100px 0;
  h2 {
    margin-top: 0;
  }
  p {
    margin-top: 0;
  }
  .arrow-white { background: url(/images/arrow-white.png?embed) 50% 50% no-repeat; }
  .arrow-black { background: url(/images/arrow-black.png?embed) 50% 50% no-repeat; }
  .arrow-black-down { background: url(/images/arrow-black-down.png?embed) 50% 50% no-repeat; }
}

.fertilization {
  background: $logoBlue;
  .illustrations {
    margin-top: 40px;
  }
  .illustration {
    height: 200px;
    background: url(/images/field-white.png) 50% 50% no-repeat;
  }
  .arrow {
    height: 200px;
  }
  .illustration.field {
    // width: 377px;
    // height: 152px;
  }
  .illustration.plant {
    // width: 252px;
    // height: 154px;
    background-image: url(/images/plant-white.png);
  }
  .illustration.fly-ash {
    // width: 204px;
    // height: 128px;
    background-image: url(/images/fly-ash-white.png);
  }
}
.heavy-metal {
  background: $white;
  color: $darkGrey;
  .illustrations-row {

  }
  .illustration {
    height: 220px;
    background: url(/images/fly-ash-black.png) 50% 50% no-repeat;
  }
  .arrow {
    height: 220px;
  }
  .arrow-black-down {
    height: 140px;
  }
  .illustration.fly-ash {
    height: 140px;
  }
  .illustration.cinis-tech {
    background-image: url(/images/cinis-tech-black.png);
  }
  .illustration.field {
    background-image: url(/images/field-black.png);
  }
}

.potassium-cycle {
  background: $logoGreen;
  color: $white;
  .text {
    margin-top: 50px;
  }
  .potassium-cycle-illustration {
    height: 363px;
    background: url(/images/potassium-cycle.png) 50% 50% no-repeat;
  }
}

.about-cinis {
  background: $blue;
}

footer {
  position: relative;
  z-index: -2;
  height: 120px;
  background: $darkBlue;
}

.cinis-info {
  position: fixed;
  z-index: -1;
  color: $white;
  padding: 30px 0;
  bottom: 0;
  width: 100%;

  a {
    color: $white;
    text-decoration: none;
  }

  .info-table {
    position: relative;
  }

  .name {
    background: url(/images/cinis-logo.png) 50% 50% no-repeat;
    display: inline-block;
    width: 173px;
    height: 65px;
    @include hide-text;
  }

  .adr {
    font-weight: 300;
    font-size: 16px;
    position: absolute;
    bottom: 5px;
    margin-left: 20px;

    a {
      border-bottom: 1px dotted $white;

      &:hover {
        color: $blue;
      }
    }

    small {
      font-size: 10px;
    }
  }

  .adr > span {
    margin: 0 6px 0 0;
    display: inline-block;
  }
}

.gallery {
  a {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 4px;

    &:hover {
      border-color: $logoGreen;
    }
  }
}
