---
title: Kontakt os
---

<div class="row">
  <div class="large-12 columns headline">
    <h1>Kontakt os</h1>
  </div>
  <div class="large-8 columns lead">
  	<p>Cinis Recycling er først på markedet med behandling af flere asketyper uden deponi.</p>
  	<p>Virksomheden er grundlagt i 2010 og ligger i Arden.</p>
  	<p>Vi har udviklet og driver et højteknologisk anlæg, der producerer kaliumgødning gennem rensning af tungmetalholdig flyveaske fra biomassefyrede energianlæg.</p>
  	<div class="gallery">
  	  <a href="/images/production01.jpg" rel="gallery"><img src="/images/production01_thumb.jpg"></a>
  	  <a href="/images/production02.jpg" rel="gallery"><img src="/images/production02_thumb.jpg"></a>
  	  <a href="/images/production03.jpg" rel="gallery"><img src="/images/production03_thumb.jpg"></a>
  	  <a href="/images/production04.jpg" rel="gallery"><img src="/images/production04_thumb.jpg"></a>
  	</div>
  </div>
  <div class="large-4 columns lead">
	  <h3>Cinis Recycling</h3>
	  Industrivej 9<br>
	  9510 Arden<br><br>
	  <span class="cvr"><span class="label">CVR.:</span> 3336 0827</span><br>
	  <span class="mail">cinis@cinis.dk</span>
	  <h4>Teknisk Direktør</h4>
	  Johnny Thejl / 4084 7840<br>johnnythejl@cinis.dk
  </div>
</div>