---
title: Flydende kaliumgødning til forædling af gylle
---

<div class="row">
  <div class="large-12 columns headline">
    <h1>Flydende kaliumgødning til forædling af gylle</h1>
  </div>
  <div class="large-8 columns lead">
    <p>Cinis Recycling sælger nu flydende kaliumgødning udvundet af halmflyveaske. Gødningen sælges direkte til svine- og kvægbønder og blandes i gyllen.</p>
    <p>Man opnår en dobbelt besparelse ved at bruge flydende kaliumgødning fra Cinis Recycling i stedet for at udbringe anden kaliumgødning: Ikke blot er den rene kaliumpris lavere, men omkostningerne ved udbringning er også mindre, da den flydende kaliumgødning tilsættes gyllen og udbringes sammen med den.</p>
    <p>Den flydende kaliumgødning er registreret som handelsgødning og har følgende egenskaber:</p>
    <table class="manure-specs">
      <tbody>
        <tr>
          <td>N</td>
          <td>-</td>
        </tr>
        <tr>
          <td>P</td>
          <td>-</td>
        </tr>
        <tr>
          <td>K*</td>
          <td>11%</td>
        </tr>
        <tr>
          <td>S</td>
          <td>0,6%</td>
        </tr>
        <tr>
          <td>Vægtfylde</td>
          <td>1,2 kg/l</td>
        </tr>
        <tr>
          <td>pH-værdi</td>
          <td>6-8</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">*Fordelt som 9,1% kaliumklorid og 1,9% kaliumsulfat
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="large-3 columns end lead">
    <p><strong>Du opnår en besparelse på op til 35%</strong>, når du forædler din gylle med flydende kaliumgødning fra Cinis Recycling i stedet for at udbringe anden kaliumgødning.</p>
    <p>For mere information, oplysning om priser og bestilling kontakt os per telefon eller mail:</p>
    Holger Ross Lauritsen / 5041 8037<br>
    salg@cinis.dk
  </div>

</div>
