---
title: Contact us
language: english
---

<div class="row">
  <div class="large-12 columns headline">
    <h1>Contact us</h1>
  </div>
  <div class="large-8 columns lead">
  	<p>Cinis Recycling is the markets first recycler of different ash types without any landfilling.</p>
  	<p>The company was founded in 2010 and is located in the Northern Jutlandic town of Arden, Denmark.</p>
  	<p>We have developed and run a high-technology facility producing potassium fertilizers out of fly ash from biomass power plants.</p>
  	<div class="gallery">
  	  <a href="/images/production01.jpg" rel="gallery"><img src="/images/production01_thumb.jpg"></a>
  	  <a href="/images/production02.jpg" rel="gallery"><img src="/images/production02_thumb.jpg"></a>
  	  <a href="/images/production03.jpg" rel="gallery"><img src="/images/production03_thumb.jpg"></a>
  	  <a href="/images/production04.jpg" rel="gallery"><img src="/images/production04_thumb.jpg"></a>
  	</div>
  </div>
  <div class="large-4 columns lead">
  	<h3>Cinis Recycling</h3>
	Industrivej 9<br>
	9510 Arden<br><br>
	<span class="cvr"><span class="label">CVR.:</span> 3336 0827</span><br>
	<span class="mail">cinis@cinis.dk</span>
	<h4>CEO</h4>
	Holger Ross Lauritsen / +45 5041 8037<br>holgerlauritsen@cinis.dk
	<h4>CTO</h4>
	Johnny Thejl / +45 4084 7840<br>johnnythejl@cinis.dk
  </div>
</div>